:root[data-theme='dark'] {
    --page-bg: #080e12;
    --side-bg: #111324;
    --content-bg: #161829;
    --title: #dedede;
    --text: #a5a9c3;
    --text-secondary: #aab0bf;
    --primary: #2b48ff;
    --btn-plain-bg: #292c45;
    --hilight-color: #7786e7;
    --side-border: #1e2036;
    --content-border: #1e2036;
    --nav-border-color: #0d0f1e;
    --index-location: #a5a9c3;
    --side-about-icon: #8c92b3;
    --side-about-text: #5b5f80;
}
