:root[data-theme='light'] {
    --page-bg: #f3efff;
    --side-bg: #f6f7ff;
    --content-bg: #fff;
    --title: #000;
    --text: #0d0d0d;
    --text-secondary: #aab0c0;
    --primary: #3b3eff;
    --btn-plain-bg: #e9ecfe;
    --hilight-color: #3b3eff;
    --side-border: #eeefff;
    --content-border: #f7f7ff;
    --nav-border-color: #eaeaea;
    --index-location: #354677;
    --side-about-icon: #9498cd;
    --side-about-text: #44507b;
}
