:root {
    --page-bg: ;
    --side-bg: ;
    --content-bg: ;
    --title: ;
    --text: ;
    --text-secondary: ;
    --primary: ;
    --btn-plain-bg: ;
    --hilight-color: ;
    --side-border: ;
    --content-border: ;
    --nav-border-color: ;
    --index-location: ;
    --side-about-icon: ;
    --side-about-text: ;
}
